.header {
display:block;
float:left;
}

.char1,.char2,.char3,.char4,.char5,.char6,.char7,.char8,.char9,.char10,.char11,.char12,.char13,.char14{
display:block;
float:left;
width:1.7em;
margin-left:8px;
background-color:#afdddf;
font-family:Garamond,Serif;
color:#fff;
text-align:center;
font-size:1.5em;
line-height:1.7em;
-webkit-border-radius:1.7em;
-moz-border-radius:1.7em;
border-radius:1.7em;
-webkit-box-shadow: 0px 0px 5px RGBA(200,200,200,30);
box-shadow: 0px 0px 5px RGBA(200,200,200,30);
-moz-box-shadow: 0px 0px 5px RGBA(200,200,200,30);
}

h1{
margin:auto;
width:260px;
text-align:left;
}

p{
-webkit-transition: background-color .25s linear;
-moz-transition: background-color .25s linear;
-o-transition: background-color .25s linear;
-transition: background-color .25s linear;
cursor:pointer;
}

p:hover {
background-color:#f1b5c8;
}

a {
color: #08C;
text-decoration: none;}

#text-big {
font-size: 18px;
color: black;
font-family: proxima-nova,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
line-height: 42px;
}

.underlined {
border-bottom:3px solid #231F20;
}

::selection {
background:#FFF966;  
}

/* google doc form */

.ss-form {
float:left;
width:390px;
text-align:left;
position:relative;
}

.ss-form-title {
margin-left:0px;
text-align:left;
}

.ss-item {
font-size:15px;
width:300px;

}

input {
border:1px solid #dadada;
font-size:14px;
letter-spacing:2px;
padding:10px;
background: none repeat scroll 0 0 #FFFFFF;
}

input:focus {
outline:none;
border-color:#9ecaed;
box-shadow:0 0 10px #9ecaed;
}

.ss-textarea{
max-width:99%}


.ss-q-long{
max-width:90%}

.ss-q-title{
font-size:16px;
width:300px;
color:black;
}

.errorbox-good {
width:140px;
}

.ss-form-entry{
width:150px;
margin-bottom:1em;


}
.ss-choices{
list-style:none;
margin:.5em 0 0 0;
}

.ss-choices li {
display:inline;
list-style-type: none;
padding-right:8px;
}

label{
display:block;
cursor:pointer
}

ul label {
display:inline
}

input {
  border:1px solid #dadada;
  font-size:14px;
  letter-spacing:2px;
  padding:10px;
  background: none repeat scroll 0 0 #FFFFFF;
}

.party{
padding-bottom:20px;
}

.imgbox {
float: left;
text-align: center;
width: 150px;
height: 170px;
margin: 4px;
margin-bottom: 8px;
padding: 0px;              
